<body>
        <h1>Articles</h1>
        <div>
            <a href=""><h3>Ajouter une article</h3></a>
            <a href="">Voir les brouillons</a>
            </div>
        {#{% for ... in ...%}#}
     <div>
            <div>
  <div>
    <div>
        
        {#    <p>{{article.Titre}}</p>
            <p>{{article.Image}}</p>#}
        <p>1ere news</p>
            </div>
            </div>
            </div>
            <div>
           <a href="">Modifier un article</a>
             <a href="">Supprimer un article</a>
     
            </div>
             </div>
           
             
</body>