<body>
    <nav>
    <ul>
        <li><a href="{{path("articles")}}">Voir les articles</a></li>
        <li><a href="{{path("brouillons")}}">Voir mes brouillons</a></li>
        <li><a href="{{path("profil")}}">Voir profil</a></li>
    </ul>
</nav>
    <h1>Admin</h1>
        
        
             
</body>
