<body>
    <div class="container">
        <img src="https://cdn1.iconfinder.com/data/icons/learning-and-entertainment-flat-icons/512/taol.png">

        <div>

            {% if error %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post"  class="form form--login">
                <div><h1>Se connecter<h1></div>

                            <div>
                                <label for="username">Email :</label>
                                <input type="text" class="textconnection col-xs-offset-1" id="username" name="_username" value="" />
                            </div>

                            <div>
                                <label for="password">Mot de passe :</label>
                                <input type="password" class="textconnection" id="password" name="_password" />
                            </div>

                <input type="submit" value="Connexion" class="btn-login" />
            </form>
                
        <div>
            <h2>Nouvel utilisateur? <a href="{{path("inscription")}}"></h2><input value="Créer un nouveau compte" class="btn-login" />     
        </div>
        
    </div>
</body>
