<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../script/inscription.js"></script>
<link href="{{ asset('../web/bundles/css/inscription.css') }}" rel="stylesheet" />
        <link href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" />
<body>
    <div class="container">
        <img src="https://cdn1.iconfinder.com/data/icons/learning-and-entertainment-flat-icons/512/taol.png">
        <div>
            {{form(form)}}
        </div>
    </div>
</body>
