
<div>
	<div>S'inscrire</div>
	
	<div>
		<form>
		
			<div>
				<div>
					<div>
						<label for="ins_nom">Nom</label>
						<input type="text" id="ins_nom" name="ins_nom" placeholder="Nom">
                                                <label for="ins_prenom">Prénom</label>
						<input type="text" id="ins_prenom" name="ins_nom" placeholder="Nom">
					</div>
					<div class="form-group">
						<label for="ins_pass" class="sr-only">Mot de passe</label>
						<input type="password" class="form-control" id="reg_password" name="ins_pass" placeholder="Votre mot de passe">
					</div>
					<div>
						<label for="ins_pass_confirm">Confirmez votre mot de passe</label>
						<input type="password" class="form-control" id="ins_pass_confirm" name="ins_pass_confirm" placeholder="Confirmez le mot de passe">
					</div>
					
					<div>
						<label for="ins_email">Email</label>
						<input type="text" id="ins_email" name="ins_email" placeholder="Votre e-mail">
					</div>
					
				</div>
				<button type="submit">Valider</button>
			</div>
			<div>
				<p>Vous avez déjà un compte? <a href="{{path("connexion")}}">Connectez vous ici</a></p>
			</div>
		</form>
	</div>
	
</div>
