<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../inscription.js"></script>
{%block body %}
    <div>
        <div>S'inscrire</div>

        <div>

            <div>
                <div>
                    <div>

                        <input type="text" id="ins_nom" name="ins_nom" placeholder="Nom">

                        <input type="text" id="ins_prenom" name="ins_nom" placeholder="Prenom">
                    </div>

                    <div>
                        <input id="Upload photo" name="Upload photo" class="input-file" type="file">
                    </div>
                    <div>

                        <input type="password" class="form-control" id="reg_password" name="ins_pass" placeholder="Votre mot de passe">
                    </div>
                    <div>

                        <input type="password" class="form-control" id="ins_pass_confirm" name="ins_pass_confirm" placeholder="Confirmez le mot de passe">
                    </div>

                    <div>

                        <input type="text" id="ins_email" name="ins_email" placeholder="Votre e-mail">
                    </div>

                </div>
                <button id="valider" type="button">Valider</button>
            </div>
            <div>
                <p>Vous avez déjà un compte? <a href="{{path("connexion")}}">Connectez vous ici</a></p>
            </div>

        </div>

    </div>

{%endblock %}
