<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../inscription.js"></script>
<body>

    <div>
        <div>S'inscrire</div>

        <div>

            <div>
                <div>
                    <div>

                        <input type="text" id="nom" placeholder="Nom">

                        <input type="text" id="prenom" placeholder="Prenom">
                    </div>

                    <div>
                        <input id="Upload photo" name="Upload photo" class="input-file" type="file">
                    </div>
                    <div>

                        <input type="password" class="form-control" id="password" placeholder="Votre mot de passe">
                    </div>
                    <div>

                        <input type="password" class="form-control" id="conf_password" placeholder="Confirmez le mot de passe">
                    </div>

                    <div>

                        <input type="text" id="email" placeholder="Votre e-mail">
                    </div>

                </div>
                <button id="valider" type="button">Valider</button>
            </div>
            <div>
                <p>Vous avez déjà un compte? <a href="{{path("connexion")}}">Connectez vous ici</a></p>
            </div>

        </div>

    </div>
</body>