<nav>
    <ul>
        <li><a href="{{path("add")}}">Ajouter une article</a></li>
        <li><a href="{{path("brouillons")}}">Voir les brouillons</a></li>
        <li><a href="{{path("modifprofil")}}">Modifier mon profil</a></li>
        <li><a href="{{path("admin")}}">Retour page admin</a></li>
    </ul>
</nav>
            
    <h2>Profil</h2>
