<link href="{{ asset('bundles/css/connection.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/css/bootstrap.css') }}" rel="stylesheet" />
<body>
    <div class="container">
        <img src="https://cdn1.iconfinder.com/data/icons/learning-and-entertainment-flat-icons/512/taol.png">
            
        <div>

            {% if error %}
                <div class="alert alert-danger">Mauvais identifiants !</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post"  class="form form--login">
                <h1>Se connecter<h1>

                            <div>
                                <label for="username">Email :</label>
                                <input type="text" class="textinput" id="username" name="_username" value="" />
                            </div>

                            <div>
                                <label for="password">Mot de passe :</label>
                                <input type="password" class="textinput" id="password" name="_password" />
                            </div>

                <input type="submit" value="Connexion" class="btn-login" />
            </form>
                
        <div>
            <h1>Nouvel utilisateur? <a href="{{path("inscription")}}"></h1><input value="Créer un nouveau compte" class="btn-login" />     
        </div>
        
    </div>
</body>
