body{
    background-color:#B6D9FF!important;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');
/* STYLE POUR LE HEADER */
header{
  background-image: url('../img/header.png');
  background-position: center;
  background-repeat: no-repeat;                /*  permet de pas repeter l'image */
  background-size: contain;                   /*  permet de centre l'image ?!?! */
  height: 300px;                              /* taille de la hauteur du header */
  width: 100%;                                /* taille de la largeur du header */
  
}

/* FIN STYLE POUR LE HEADER */


/* STYLE POUR LE TITRE PRINCIPAL */

#titreprincipal{
  font-family: 'Lobster', cursive;            /*  style ecriture du texte */
  text-align: center;                         /*  Alignement du titre principal dans le header */
   font-size: 60px;                          /* taille du titre principal */ 
}

/* FIN STYLE POUR LE TITRE PRINCIPAL */

/* RESPONSIVE MD TITRE PRINCIPAL */
@media(max-width:992px){
#titreprincipal{
    font-size:50px;
    } 
}

/* STYLE POUR LA BARRE DE NAV */

/* container barre de nav */

.containernav{
    background-color: black;
    height: 60px;
}

/* responsive md container nav */

@media(max-width:992px){
  .containernav{
    height: 200px;
  }
}

/* classe liste nav */

.groupelistenav{
  display:flex;
  justify-content: space-around;
  margin-left: -60px;
}

/* responsive md groupe liste nav */

 @media(max-width:992px){
   .groupelistenav{
     display: flex;
     flex-direction: column;
     text-align: center;
   }
 }

/* éléments de la barre de nav */

.listenav{
padding-top: 10px;
list-style: none;
font-family: 'Lobster', cursive;
font-size: 25px;
}

/* liens des éléments de la nav */

.listenav a{
color:white;
}

.listenav a:hover{
color:white; 
text-decoration: none;
}

/* skin du bouton-menu déroulant */

.btn-primary {
    color: #fff;
    background-color: black !important;
    border-color: black !important;
    font-family: 'Lobster', cursive !important;
    font-size: 25px !important;
    margin-top : -10px;
}

.dropdown{
  padding-top:14px;
  font-family:'Lobster', cursive; 
  font-size:20px;
}
.dropdown-menu > li > a{
    text-align: center;
}

/* page accueil blog */

#titreaccueil{
    text-align:center;
    font-size:100px;
    margin-bottom:150px;
    padding-top:60px;
    font-family:'Lobster', cursive;
}

/* responsive xs page accueil blog */

@media(max-width:768px){
     #titreaccueil{
           font-size:70px;    
        }           
}

/* footer */

.copyright{
 text-align:center;
 font-family:none;
}
