/* STYLE POUR  LES PAGES ARTICLES ET BROUILLONS */
h3 {
    text-align: center;
}
@media(max-width:768px) {
    .thumbnail {
    margin-left : 100px;
}
}

.liste {
    background-color: white;
    
}

/* word-wrap permet de couper les  longs mots et de les faire passer à la ligne */
 
p {
    word-wrap: break-word;
}

/* BOUTON MODIFIER ET SUPPRIMER */
.btn {
    background-color: white;
    
}

.modif {
    color : black;
    font-size : 1.2em;
    margin-right: 150px;
   }
   
   @media(max-width:768px) {
   .modif {
    font-size : 1em;
    margin-right: 0px;
   }
   }
   
   @media(max-width:768px) {
       .modif {
           
           margin-right: 20px;
       }
   }

.supp {
    color : black;
    font-size : 1.2em;
}

@media(max-width:768px) {
    .supp {
        font-size : 1em;
}
   }
   
  

 
