/* STYLE POUR  LES PAGES ARTICLES ET BROUILLONS */
.container-fluid liste{
    width: 100%;
    background-color:#014ea5;
}
.titreadmin{
    font-size: 48px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#textearticle{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
#divarticle{
    margin-top: 20px;
    text-align: left;
}
.imageadmin{
    
        max-height: 10%;
        max-width: 80%;
    }
    
    .elementarticle{
        text-align: center;
    }

    .autreelementarticle{
        text-align: center;
    }

p{
        text-align: center;
}   
    
.thumbnail{
    margin-top: 20px;
    width: 80%;
    
}

    


/* BOUTON MODIFIER ET SUPPRIMER */                      /*word-wrap: break-word; word-wrap permet de couper les  longs mots et de les faire passer à la ligne */
.btn {
        margin-top: -20px;
        margin-left: 20%;
        text-align: center;
	font-size: 30px;
	background-color: #014ea5;
        width: 20%;
    
}