/* STYLE POUR  LES PAGES ARTICLES ET BROUILLONS */
.container-fluid liste{
    width: 100%;
    background-color:#014ea5;
}
.titreadmin{
    font-size: 48px;
    text-align: center;
    font-family: 'Lobster', cursive;
    word-wrap: break-word;
}
/*word-wrap: break-word; word-wrap permet de couper les  longs mots et de les faire passer à la ligne */
#textearticle{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    word-wrap: break-word;
    font-size : 1.4em;
}
#divarticle{
    margin-top: 20px;
    text-align: left;
}
.image {
     width:300px;
     height:300px !important;
     margin-bottom: 30px;
     
    }
    
    .elementarticle{
        text-align: center;
    }

    .autreelementarticle{
        text-align: center;
    }

p{
        text-align: center;
}   
    
.thumbnail{
    margin-top: 20px;
    width: 80%;
    
}


.modif {   
    border-radius: 2px 2px 2px 2px; 
    padding:5px 15px;
    font-size:19px;
}


.bouton {
    background-color : #014ea5;
    color : white;
    
}

