h1{
    font-size: 30px;
}
.container{
    font-family: 'Lobster', cursive;  
	width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-top: 70px;
	background-color: #B22222;
}


.textconnection{
	
	font-size: 38px;
        font-family: 'Lobster', cursive;  
	margin-bottom: 20px;

}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -70px;
	margin-bottom: 30px;

}
.btn-login{
	padding: 15px 30px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	color: white;
	background-color: #32BF9E;
        margin-bottom: 20px;
}
label{
	font-size: 32px;
	color: white;
}
