/* STYLE POUR LA PAGE MODIFIER UN PROFIL*/
#adminbundle_user {
    width : 30%;
}

form {
    display: flex;
    justify-content: center;
    
}

#modifmdp {
    margin-top : 50px;
    margin-bottom: 50px;
    text-align: center;
}

.motdepasse {
    margin-top: 10px;
    margin-bottom : 10px;
}