/* FIN STYLE POUR LA PAGE PROFIL */
p{
    font-size:1.4em;
}
.profil {
    text-align: center;
}

.modifprofil {
    text-align: center;
    color : black;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 2px 2px 2px 2px; 
    padding:5px 15px;
    font-size:19px;
    background-color : #014ea5;
    color : white;
   }
   
   #titrephotoprofil {
       margin-bottom: 100px;
       font-family: 'Lobster', cursive;
   }
   
   .soustitreprofil{
       font-family: 'Lobster', cursive;
   }
   #photoprofil {
       width : 200px;
       height : 200px;
       margin-top: -50px;
       margin-bottom: 50px;
   }
   
 