/* partie sections téléphone, ordinateur et tablette */

.titresections{
text-align: center;
font-family: 'Lobster', cursive;
font-size: 40px;
}

p{
font-family: 'Lobster', cursive; 
font-size:17px;
}

.newtitre{
    text-align: center;
    font-size: 35px;
}

.main{
   text-align:right;
}