/* partie sections téléphone, ordinateur et tablette */

.titresections{
text-align: center;
font-family: 'Lobster', cursive;
font-size: 40px;
margin-top:88px;
margin-bottom: 20px;
}

p{
font-family: 'Lobster', cursive; 
font-size:17px;
}

.newtitre{
    text-align: center;
    font-size: 35px;
}

.newimage{
    text-align: center;
    margin-bottom:30px;
}


.newarticle{
    text-align: justify;
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
    font-size:20px;
}

/* responsive xs article */

@media(max-width:768px){
     .newarticle{
           font-size:17px;    
        }           
}

.main{
   text-align:right;
}
/* bouton like */

*{transition: all 0.3s linear;}

.hidden{
  font-size: 0;
}

.like,p{
  font-family: 'Open Sans';
}

.like-toggle1{
  
  border: none;
  width: 40px;
  height: 30px;
  font-size: 1.3em;
  border-radius: 100px;
}

.like-active.basic{
  background: red;
  color: white;
}