@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  background-color: #B6D9FF !important; }

/* STYLE POUR LE HEADER */
header {
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  /*  permet de pas repeter l'image */
  background-size: contain;
  /*  permet de centre l'image ?!?! */
  height: 300px;
  /* taille de la hauteur du header */
  width: 100%;
  /* taille de la largeur du header */ }

/* FIN STYLE POUR LE HEADER */
/* STYLE POUR LE TITRE PRINCIPAL */
#titreprincipal {
  font-family: 'Lobster', cursive;
  /*  style ecriture du texte */
  text-align: center;
  /*  Alignement du titre principal dans le header */
  font-size: 60px;
  /* taille du titre principal */ }

/* FIN STYLE POUR LE TITRE PRINCIPAL */
/* RESPONSIVE MD TITRE PRINCIPAL */
@media (max-width: 992px) {
  #titreprincipal {
    font-size: 50px; } }
@media (max-width: 768px) {
  #titreprincipal {
    padding-top: 40px;
    font-size: 40px; } }
/* STYLE POUR LA BARRE DE NAV */
/* container barre de nav */
.containernav {
  background-color: black;
  height: 60px; }

/* responsive md container nav */
@media (max-width: 992px) {
  .containernav {
    height: 200px; } }
/* classe liste nav */
.groupelistenav {
  display: flex;
  justify-content: space-around;
  margin-left: -60px; }

/* responsive md groupe liste nav */
@media (max-width: 992px) {
  .groupelistenav {
    display: flex;
    flex-direction: column;
    text-align: center; } }
/* éléments de la barre de nav */
.listenav {
  padding-top: 10px;
  list-style: none;
  font-family: 'Lobster', cursive;
  font-size: 25px; }

/* liens des éléments de la nav */
.listenav a {
  color: white; }

.listenav a:hover {
  color: white;
  text-decoration: none; }

/* skin du bouton-menu déroulant */
.btn-primary {
  color: #fff;
  background-color: black !important;
  border-color: black !important;
  font-family: 'Lobster', cursive !important;
  font-size: 25px !important;
  margin-top: -10px; }

.dropdown {
  padding-top: 14px;
  font-family: 'Lobster', cursive;
  font-size: 20px; }

.dropdown-menu > li > a {
  text-align: center; }

/* page accueil blog */
#titreaccueil {
  text-align: center;
  font-size: 100px;
  margin-bottom: 150px;
  padding-top: 60px;
  font-family: 'Lobster', cursive; }

/* responsive xs page accueil blog */
@media (max-width: 768px) {
  #titreaccueil {
    font-size: 70px; } }
/* footer */
.copyright {
  text-align: center;
  font-family: none; }

/* partie sections téléphone, ordinateur et tablette */
.titresections {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-top: 88px;
  margin-bottom: 20px; }

p {
  font-family: 'Lobster', cursive;
  font-size: 17px; }

.newtitre {
  text-align: center;
  font-size: 35px; }

.newimage {
  text-align: center;
  margin-bottom: 30px; }

.newarticle {
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 20px; }

/* responsive xs article */
@media (max-width: 768px) {
  .newarticle {
    font-size: 17px; } }
.main {
  text-align: right; }

/* Tout les h1 des pages d'admin */
.titradmin {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

/* NAV BARRE */
#navadmin {
  background-color: black; }

#navadmin li a {
  color: white;
  font-size: 1.2em; }

/* tout les p des pages admin */
p {
  font-size: 1.2em; }

@media (max-width: 768px) {
  p {
    font-size: 1em; } }
/* STYLE POUR  LES PAGES ARTICLES ET BROUILLONS */
h3 {
  text-align: center;
  font-family: 'Lobster', cursive; }

@media (max-width: 768px) {
  .thumbnail {
    margin-left: 100px; } }
.liste {
  background-color: white; }

/* word-wrap permet de couper les  longs mots et de les faire passer à la ligne */
p {
  word-wrap: break-word;
  text-align: center; }

/* BOUTON MODIFIER ET SUPPRIMER */
.btn {
  background-color: white; }

.modif {
  color: black;
  font-size: 1.2em;
  margin-right: 150px; }

@media (max-width: 768px) {
  .modif {
    font-size: 1em;
    margin-right: 0px; } }
@media (max-width: 768px) {
  .modif {
    margin-right: 20px; } }
.supp {
  color: black;
  font-size: 1.2em; }

@media (max-width: 768px) {
  .supp {
    font-size: 1em; } }
/* FIN STYLE POUR LA PAGE PROFIL */
.profil {
  text-align: center; }

.modifprofil {
  text-align: center;
  color: black;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 50px; }

#titrephotoprofil {
  margin-bottom: 100px; }

#photoprofil {
  width: 200px;
  height: 200px;
  margin-top: -50px;
  margin-bottom: 50px; }

/* STYLE POUR LA PAGE AJOUTER UN ARTICLE */
label {
  font-size: 18px;
  color: black; }

/* STYLE POUR LA PAGE MODIFIER UN PROFIL*/
#adminbundle_user {
  width: 30%; }

form {
  display: flex;
  justify-content: center; }

#modifmdp {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }

.motdepasse {
  margin-top: 10px;
  margin-bottom: 10px; }

/* FIN STYLE POUR LA PAGE MODIFIER UN ARTICLE */
label {
  margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
