{% extends "BlogBundle:Default:accueil.html.twig" %}	
{% block body %}
 <body>
    <div class="container">         
        <form action="" method=""  class="form form--login"> 
            <div>  
                <label class="labelcontact" for="name"> Nom : </label>
                <input class="inputcontact" type="text" id="name"/>
            </div>
            <div>  
                <label class="labelcontact" for="email"> E-mail : </label>
                <input class="inputcontact" type="email" id="email"/>
            </div>
            <div>  
                <label class="labelcontact" for="subject"> Sujet : </label>
                <input class="inputcontact" type="text" id="subject"/>
            </div>
            <div> 
                <label class="labelcontact" for="message"> Message : </label>
                <input class="inputcontact" type="text" id="message"/>
            </div>
    
            <div>  
                <button id="boutoncontact" type="submit" class="btn-login">Envoyer</button>
            </div>
        </form>   
    </div>
</body>
{% endblock %}
